.CodeMirror.cm-s-default {
    border: 1px solid #B4BAC0;
}

.CodeMirror.cm-s-default .cm-keyword {
    color: #f0f;
}

.CodeMirror.cm-s-default.drag-n-drop-highlight {
    outline-color: rgba(17, 163, 234, 0.5);
}
